## Imbalanced Dataset Handling
1. Upsampling
2. Down Sampling

In [5]:
import numpy as np
import pandas as pd

In [6]:
np.random.seed(123)
n_sample=1000
class_0_ratio = 0.9
n_class_0 = int(n_sample*class_0_ratio)
n_class_1 = int(n_sample-n_class_0)

In [7]:
n_class_0,n_class_1

(900, 100)

In [25]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [26]:
class_0

     feature_1  feature_2  target
0    -0.222381  -1.159450       0
1    -1.295310  -0.196479       0
2    -0.340355  -0.512868       0
3     0.421395   0.273156       0
4    -0.145484   0.610387       0
..         ...        ...     ...
895   0.212315  -0.357459       0
896   0.597036   1.096601       0
897  -1.589313   0.665651       0
898   0.102678  -1.209076       0
899   1.252301  -0.076537       0

[900 rows x 3 columns]