## Imbalanced Dataset Handling
1. Upsampling
2. Down Sampling

In [5]:
import numpy as np
import pandas as pd

In [6]:
np.random.seed(123)
n_sample=1000
class_0_ratio = 0.9
n_class_0 = int(n_sample*class_0_ratio)
n_class_1 = int(n_sample-n_class_0)

In [7]:
n_class_0,n_class_1

(900, 100)

In [59]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [60]:
class_0

     feature_1  feature_2  target
0     1.538764   1.184076       0
1    -1.745153  -1.491909       0
2     0.204405   1.637574       0
3    -0.433131  -0.574771       0
4     1.247893   0.512714       0
..         ...        ...     ...
895   0.267365   0.665684       0
896  -1.072867  -1.004190       0
897   0.967975  -0.113262       0
898   0.312542  -1.034650       0
899  -1.489863   0.958345       0

[900 rows x 3 columns]

In [61]:
class_1

    feature_1  feature_2  target
0    2.371486   1.685094       1
1    2.137327   2.418563       1
2    0.477353   3.117002       1
3    1.542211  -0.967341       1
4    1.211715   0.621566       1
..        ...        ...     ...
95   2.075334   0.978660       1
96   0.612159   2.860582       1
97   2.088465   1.452353       1
98   3.750474   2.377510       1
99   2.665976   1.284324       1

[100 rows x 3 columns]

In [62]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [63]:
df

     feature_1  feature_2  target
0     1.538764   1.184076       0
1    -1.745153  -1.491909       0
2     0.204405   1.637574       0
3    -0.433131  -0.574771       0
4     1.247893   0.512714       0
..         ...        ...     ...
995   2.075334   0.978660       1
996   0.612159   2.860582       1
997   2.088465   1.452353       1
998   3.750474   2.377510       1
999   2.665976   1.284324       1

[1000 rows x 3 columns]

In [64]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

## Upsampling

In [72]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [74]:
df_minority.head()

     feature_1  feature_2  target
900   2.371486   1.685094       1
901   2.137327   2.418563       1
902   0.477353   3.117002       1
903   1.542211  -0.967341       1
904   1.211715   0.621566       1

In [75]:
df_majority.head()

   feature_1  feature_2  target
0   1.538764   1.184076       0
1  -1.745153  -1.491909       0
2   0.204405   1.637574       0
3  -0.433131  -0.574771       0
4   1.247893   0.512714       0

In [83]:
##upsampling perform 
from sklearn.utils import resample

In [100]:
df_minority_upsample=resample(df_minority,
                             replace=True, ## Sample With replacement
                              n_samples=len(df_majority), # to match the majority class)
                              random_state=42
                             )

In [101]:
df_minority_upsample

     feature_1  feature_2  target
951   1.403676   3.346830       1
992   1.729669   1.718120       1
914   2.791422   4.527913       1
971   0.800804   3.044036       1
960   0.991748   2.489794       1
..         ...        ...     ...
952   1.106422   0.795900       1
965  -0.035076   1.282409       1
976   0.668885   4.431464       1
942   2.964478   1.711143       1
974   1.658816   3.345570       1

[900 rows x 3 columns]

In [102]:
df_minority_upsample.shape

(900, 3)

In [103]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [104]:
df_upsampled= pd.concat([df_majority,df_minority_upsample])

In [105]:
 df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [106]:
df_upsampled.shape

(1800, 3)

# Downsampling  :

In [107]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [108]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [113]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [114]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [121]:
df_majority_downsample=resample(df_majority,
                             replace=False, ## Sample Without replacement
                              n_samples=len(df_minority), # to match the minority class)
                              random_state=42
                             )

In [122]:
df_majority_downsample

     feature_1  feature_2  target
70   -1.376694   0.526855       0
827  -0.660846   0.605226       0
231  -0.734252  -1.059934       0
588   0.811788  -1.388396       0
39   -0.566329   1.518636       0
..         ...        ...     ...
398  -0.041613   3.071824       0
76    1.626031  -2.403680       0
196   0.774466   0.222295       0
631  -0.409645  -0.909253       0
751  -0.818990  -0.954058       0

[100 rows x 3 columns]

In [123]:
df_majority_downsample.shape

(100, 3)

In [124]:
df_downsample=pd.concat([df_minority,df_majority_downsample])

In [125]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64

In [127]:
from sklearn.datasets import make_classification

In [128]:
## X independent feature
## y dependent feature
X,y=make_classification(n_samples=1000,n_features=2,n_redundant=0,n_clusters_per_class=1,weights=[0.90],random_state=1)

In [134]:
y.shape

(1000,)