# Nominal / One Hot Encoding Techniques(OHE):

In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import OneHotEncoder

In [3]:
df=pd.DataFrame({'color':['red','blue','green','green','red','blue']})

In [4]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [10]:
type(df[['color']])

pandas.core.frame.DataFrame

In [5]:
## create an instance of one hot encoder 
encoder = OneHotEncoder()

In [6]:
type(encoder)

sklearn.preprocessing._encoders.OneHotEncoder

In [19]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [20]:
encoded=encoder.fit_transform(df[['color']])

In [25]:
encoded.toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [27]:
encoder.get_feature_names_out()

array(['color_blue', 'color_green', 'color_red'], dtype=object)

In [29]:
#fit the encoder in the dataframe and transform it
encoded_df=pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [34]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [35]:
import seaborn as sns

In [41]:
df2=sns.load_dataset('tips')

In [43]:
df2

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [44]:
encoder2=OneHotEncoder()
type(encoder)

sklearn.preprocessing._encoders.OneHotEncoder

In [48]:
encoded2=encoder2.fit_transform(df2[['sex']])

In [53]:
#fit the encoder in the dataframe and transform it
encoded2_df=pd.DataFrame(encoded2.toarray(),columns=encoder2.get_feature_names_out())

In [54]:
encoded2_df

     sex_Female  sex_Male
0           1.0       0.0
1           0.0       1.0
2           0.0       1.0
3           0.0       1.0
4           1.0       0.0
..          ...       ...
239         0.0       1.0
240         1.0       0.0
241         0.0       1.0
242         0.0       1.0
243         1.0       0.0

[244 rows x 2 columns]

In [56]:
pd.concat([df2,encoded2_df],axis=1)

     total_bill   tip     sex smoker   day    time  size  sex_Female  sex_Male
0         16.99  1.01  Female     No   Sun  Dinner     2         1.0       0.0
1         10.34  1.66    Male     No   Sun  Dinner     3         0.0       1.0
2         21.01  3.50    Male     No   Sun  Dinner     3         0.0       1.0
3         23.68  3.31    Male     No   Sun  Dinner     2         0.0       1.0
4         24.59  3.61  Female     No   Sun  Dinner     4         1.0       0.0
..          ...   ...     ...    ...   ...     ...   ...         ...       ...
239       29.03  5.92    Male     No   Sat  Dinner     3         0.0       1.0
240       27.18  2.00  Female    Yes   Sat  Dinner     2         1.0       0.0
241       22.67  2.00    Male    Yes   Sat  Dinner     2         0.0       1.0
242       17.82  1.75    Male     No   Sat  Dinner     2         0.0       1.0
243       18.78  3.00  Female     No  Thur  Dinner     2         1.0       0.0

[244 rows x 9 columns]

# Label and Ordinal  Encoding

In [57]:
from sklearn.preprocessing import LabelEncoder

In [63]:
df3=pd.DataFrame({'color':['red','blue','green','red','blue']})

In [64]:
df3

   color
0    red
1   blue
2  green
3    red
4   blue

In [65]:
encoder3=LabelEncoder()

In [68]:
encoder3.fit_transform(df['color'])

array([2, 0, 1, 2, 0])

# Ordinal Encoding :

In [79]:
from sklearn.preprocessing import OrdinalEncoder 
df4=pd.DataFrame({'Size':['small','medium','large','small','large']})

In [80]:
df4

     Size
0   small
1  medium
2   large
3   small
4   large

In [81]:
encoder4=OrdinalEncoder(categories=[['small','medium','large']])

In [82]:
type(encoder4)

sklearn.preprocessing._encoders.OrdinalEncoder

In [84]:
encoder4.fit_transform(df4[['Size']])

array([[0.],
       [1.],
       [2.],
       [0.],
       [2.]])