In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

# Q1:

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
df.loc[[1]]

        course_name  duration
1  Machine Learning         3

# Q2:

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

## Python loc() function:
The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select. This method includes the last element of the range passed in it, unlike iloc(). loc() can accept the boolean data unlike iloc(). Many operations can be performed using the loc() method like

## Python iloc() function
The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it unlike loc(). iloc() does not accept the boolean data unlike loc(). Operations performed using iloc() are:

#  Q3:

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].<br>
Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:

In [24]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.778856  0.646337  0.696275  0.015702  0.901472  0.473811
2  0.369813  0.132961  0.029607  0.304220  0.083865  0.074554
3  0.551980  0.277570  0.648477  0.276733  0.418041  0.063178
4  0.770035  0.548518  0.157526  0.792171  0.721547  0.703704
5  0.029015  0.141204  0.959772  0.208052  0.163799  0.219270
6  0.677354  0.060016  0.099398  0.518526  0.610879  0.157111

In [2]:
#Ans:
new_df=df1.reindex([3,0,1,2])
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.934826  0.486603  0.835253  0.557691  0.281088  0.099062
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.194777  0.917085  0.262168  0.189182  0.017596  0.878832
2  0.710066  0.853784  0.081463  0.154250  0.989714  0.654372

In [3]:
new_df.loc[[2]]

   column_1  column_2  column_3  column_4  column_5  column_6
2  0.710066  0.853784  0.081463   0.15425  0.989714  0.654372

In [4]:
 new_df.iloc[[2]]

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.194777  0.917085  0.262168  0.189182  0.017596  0.878832

Yes there is difference in both the data this is because loc is used to index a pandas DataFrame or Series using labels. On the other hand, iloc can be used to retrieve records based on their positional index.

#  Q4:

Q4. Write a code to find the following statistical measurements for the above dataframe df1:<br>
(i) mean of each and every column present in the dataframe.<br>
(ii) standard deviation of column, ‘column_2’<br>

In [5]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.194777  0.917085  0.262168  0.189182  0.017596  0.878832
2  0.710066  0.853784  0.081463  0.154250  0.989714  0.654372
3  0.934826  0.486603  0.835253  0.557691  0.281088  0.099062
4  0.460986  0.226079  0.611885  0.397538  0.181695  0.041490
5  0.316838  0.981878  0.656405  0.989798  0.145977  0.373244
6  0.310958  0.209632  0.519040  0.218801  0.963448  0.522354

In [6]:
 df1.mean(axis=0)

column_1    0.488075
column_2    0.612510
column_3    0.494369
column_4    0.417877
column_5    0.429920
column_6    0.428226
dtype: float64

In [18]:
df1['column_2'].std()

0.3506860524655094

# Q5 :
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [40]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.778856  0.646337  0.696275  0.015702  0.901472  0.473811
2  0.369813  0.132961  0.029607  0.304220  0.083865  0.074554
3  0.551980  0.277570  0.648477  0.276733  0.418041  0.063178
4  0.770035  0.548518  0.157526  0.792171  0.721547  0.703704
5  0.029015  0.141204  0.959772  0.208052  0.163799  0.219270
6  0.677354  0.060016  0.099398  0.518526  0.610879  0.157111

In [41]:
df1.loc[2]='hello'

In [42]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.778856  0.646337  0.696275  0.015702  0.901472  0.473811
2     hello     hello     hello     hello     hello     hello
3   0.55198   0.27757  0.648477  0.276733  0.418041  0.063178
4  0.770035  0.548518  0.157526  0.792171  0.721547  0.703704
5  0.029015  0.141204  0.959772  0.208052  0.163799   0.21927
6  0.677354  0.060016  0.099398  0.518526  0.610879  0.157111

In [44]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

REASON:mean can only be performed with ral numbers . Column involving string will not able to perform mean operation.

#  Q6:

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

1. Pandas contains a compact set of APIs for performing windowing operations - an operation that performs an aggregation over a sliding partition of values. The API functions similarly to the groupby API in that Series and DataFrame call the windowing method with necessary parameters and then subsequently call the aggregation function.

2. The windows are comprised by looking back the length of the window from the current observation. The result above can be derived by taking the sum of the following windowed partitions of data:

In [53]:
s = pd.Series(range(5))
print(s.rolling(window=2).sum())
print(pd.datetime.now().month, pd.datetime.now().year)

0    NaN
1    1.0
2    3.0
3    5.0
4    7.0
dtype: float64
3 2023

C:\Users\HP\AppData\Local\Temp\ipykernel_11940\3853719078.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  print(pd.datetime.now().month, pd.datetime.now().year)

# Q7:

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [52]:
print("month and year of answering :")
print(pd.datetime.now().month, pd.datetime.now().year)

month and year of answering :
3 2023

C:\Users\HP\AppData\Local\Temp\ipykernel_11940\2002981967.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  print(pd.datetime.now().month, pd.datetime.now().year)

#  Q8

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [78]:
print("Enter date's in the format YYYY-MM-DD")
dt1=input("enter date 1 :")
dt1= pd.to_datetime(dt1)
dt2=input("enter date 2 :")
dt2= pd.to_datetime(dt2)
dt2-dt1

Enter date's in the format YYYY-MM-DD
enter date 1 :2022-02-22
enter date 2 :2023-03-31

Timedelta('402 days 00:00:00')

ValueError: invalid literal for int() with base 10: '7707 days 00:00:00'

In [51]:
pd.Timestamp.today().month

3

In [54]:
pd.Timedelta(days= 1,hours = 5 ,minutes = 45)

Timedelta('1 days 05:45:00')

In [55]:
dt=

pandas._libs.tslibs.timestamps.Timestamp