In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

# Q1:

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
df.loc[[1]]

        course_name  duration
1  Machine Learning         3

# Q2:

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

## Python loc() function:
The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select. This method includes the last element of the range passed in it, unlike iloc(). loc() can accept the boolean data unlike iloc(). Many operations can be performed using the loc() method like

## Python iloc() function
The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it unlike loc(). iloc() does not accept the boolean data unlike loc(). Operations performed using iloc() are:

#  Q3:

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].<br>
Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:

In [4]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.148014  0.983923  0.974383  0.182731  0.347489  0.526826
2  0.540384  0.169310  0.850888  0.350993  0.781424  0.191975
3  0.475347  0.741324  0.010662  0.524535  0.140819  0.145230
4  0.893269  0.631924  0.834372  0.748849  0.495850  0.636546
5  0.229400  0.450603  0.762801  0.029107  0.987264  0.493294
6  0.019060  0.347493  0.544746  0.398896  0.851163  0.305102

In [5]:
#Ans:
new_df=df1.reindex([3,0,1,2])
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.475347  0.741324  0.010662  0.524535  0.140819  0.145230
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.148014  0.983923  0.974383  0.182731  0.347489  0.526826
2  0.540384  0.169310  0.850888  0.350993  0.781424  0.191975

In [6]:
new_df.loc[[2]]

   column_1  column_2  column_3  column_4  column_5  column_6
2  0.540384   0.16931  0.850888  0.350993  0.781424  0.191975

In [7]:
 new_df.iloc[[2]]

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.148014  0.983923  0.974383  0.182731  0.347489  0.526826

Yes there is difference in both the data this is because loc is used to index a pandas DataFrame or Series using labels. On the other hand, iloc can be used to retrieve records based on their positional index.

#  Q4:

Q4. Write a code to find the following statistical measurements for the above dataframe df1:<br>
(i) mean of each and every column present in the dataframe.<br>
(ii) standard deviation of column, ‘column_2’<br>

In [8]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.148014  0.983923  0.974383  0.182731  0.347489  0.526826
2  0.540384  0.169310  0.850888  0.350993  0.781424  0.191975
3  0.475347  0.741324  0.010662  0.524535  0.140819  0.145230
4  0.893269  0.631924  0.834372  0.748849  0.495850  0.636546
5  0.229400  0.450603  0.762801  0.029107  0.987264  0.493294
6  0.019060  0.347493  0.544746  0.398896  0.851163  0.305102

In [9]:
 df1.mean(axis=0)

column_1    0.384246
column_2    0.554096
column_3    0.662975
column_4    0.372518
column_5    0.600668
column_6    0.383162
dtype: float64

In [10]:
df1['column_2'].mean()

0.5540963360100385

# Q5 :

In [11]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.148014  0.983923  0.974383  0.182731  0.347489  0.526826
2  0.540384  0.169310  0.850888  0.350993  0.781424  0.191975
3  0.475347  0.741324  0.010662  0.524535  0.140819  0.145230
4  0.893269  0.631924  0.834372  0.748849  0.495850  0.636546
5  0.229400  0.450603  0.762801  0.029107  0.987264  0.493294
6  0.019060  0.347493  0.544746  0.398896  0.851163  0.305102

In [12]:
df1.loc[2][1]

0.1693104653862102

In [13]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.148014  0.983923  0.974383  0.182731  0.347489  0.526826
2  0.540384  0.169310  0.850888  0.350993  0.781424  0.191975
3  0.475347  0.741324  0.010662  0.524535  0.140819  0.145230
4  0.893269  0.631924  0.834372  0.748849  0.495850  0.636546
5  0.229400  0.450603  0.762801  0.029107  0.987264  0.493294
6  0.019060  0.347493  0.544746  0.398896  0.851163  0.305102