In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("services.csv")

In [3]:
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [6]:
df['status']

0       active
1       active
2       active
3       active
4       active
5       active
6       active
7       active
8       active
9       active
10      active
11      active
12      active
13      active
14      active
15      active
16      active
17      active
18      active
19     defunct
20    inactive
21      active
22      active
Name: status, dtype: object

In [7]:
type(df['status'])

pandas.core.series.Series

In [8]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [9]:
    data = {'Name': ['John', 'Jane', 'Jim', 'Joan'],

        'Age': [25, 30, 35, 40],

        'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer']}

df = pd.DataFrame(data)

print(df.loc[0])

Name              John
Age                 25
Occupation    Engineer
Name: 0, dtype: object

In [16]:

 

data = {'name': ['John', 'Jane', 'Bob'], 'age': [25, 30, 35]}

df1 = pd.DataFrame(data)
df_reindexed = df1.reindex([2, 1, 0])
print(df1)
print(df_reindexed)

   name  age
0  John   25
1  Jane   30
2   Bob   35
   name  age
2   Bob   35
1  Jane   30
0  John   25

In [20]:
data = {'name': ['John', 'Jane', 'Bob'], 'age': [25, 30, 35]}

df2= pd.DataFrame(data)

 

for index, row in df2.iterrows():

    print(row['name'], row['age'])

John 25
Jane 30
Bob 35

In [12]:
import pandas as pd

data = {'Name': ['John', 'Jane', 'Jim', 'Joan'],

        'Age': [25, 30, 35, 40],

        'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer']}

df = pd.DataFrame(data)

In [14]:
print(df.loc[0])

Name              John
Age                 25
Occupation    Engineer
Name: 0, dtype: object